<div class="card text-center text-white bg-info mb-3 border-dark mb-3" >
  <div class="card-body">
    <div class="row">
      <div class="col" style="text-align: left;">
        <h5 class="card-title">Expense details-</h5>
        <p class="card-text">Amount = {{data.amount}}</p>
        <p class="card-text">Description = {{data.desc}}</p>
      </div>
      <div class="col" style="margin-top:30px">
        <button (click)="delete()" class="btn btn-danger">Delete</button> 
      </div>
    </div>
  </div>
</div>

