<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >FINANCES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="auth.isSignedIn" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/add-member" >Add Expense <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/summary" >Summary <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!auth.isSignedIn" class="nav-item">
          <a class="nav-link" class="btn btn-success " routerLink="/signin">Sign in</a>
        </li>
        <li *ngIf="auth.isSignedIn" class="nav-item">
          <a class="nav-link" class="btn btn-success " (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>